* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #fff;
}

a {
  text-decoration: none;
  color: #fff;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding-inline: 1rem;
}

header {
  width: 100%;
  padding-block: 1.5rem;
  background-color: #e37600;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  position: fixed;
  z-index: 10;

  nav {
    margin-right: 0;

    ul {
      list-style: none;
      display: flex;
      gap: 1rem;
      justify-content: flex-end;
      font-size: 1.125rem;
      font-weight: bold;

      li {
        &:hover {
          box-shadow: 0 4px #00376b;
          transition: 0.3s;
        }
      }

      a {
        color: #fff;
      }
    }
  }
}

#home {
  padding-block: 6rem 4rem;
  background-color: #00376b;

  img {
    display: block;
    max-width: 500px;
    height: auto;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.6));
    object-fit: cover;
  }

  .content {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
  }

  .info {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    color: #fff;

    span {
      text-transform: uppercase;
      letter-spacing: 2rem;
      font-size: 3rem;
      font-weight: 200;
    }

    h1 {
      font-weight: 900;
      font-size: 5rem;
      text-transform: uppercase;
      width: max-content;
    }

    strong {
      font-size: 12rem;
      text-shadow: 6px 8px #e37600;
    }
  }

  .social {
    padding-top: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;

    a {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      transition: transform 0.2s;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}

#sobre {
  padding-block: 10rem;
  background-color: #0b5497;

  h2 {
    font-size: 4rem;
  }

  .sobre-content {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;

    article {
      font-size: 1.25rem;
      letter-spacing: 0.125rem;
    }

    img {
      width: 550px;
      height: auto;
    }

    & > div {
      display: grid;
      gap: 1.5rem;
      align-items: center;
      justify-items: center;
      strong {
        font-size: 6rem;
        text-shadow: 4px 6px #e37600;
      }
    }
  }
}

#propostas {
  background-color: #eeebeb;
  color: #00376b;
  padding-block: 6rem 4rem;

  h2 {
    font-size: 4rem;
  }

  .cards {
    margin-top: 4rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

    .card {
      max-width: 350px;
      border-radius: 8px;
      padding: 1rem;
      box-shadow: inset 0px 0px 6px 0px rgba(0, 55, 107, 0.3);

      .ph {
        font-size: 1.5rem;
      }

      .titulo {
        display: flex;
        gap: 1rem;
        align-items: center;

        h3 {
          font-size: 1.125rem;
        }
      }

      p {
        margin-top: 1rem;
        font-size: 0.875rem;
      }
    }
  }
}

@media (width < 1200px) {
  #home {
    img {
      max-width: 400px;
    }
    .info {
      span {
        font-size: 2rem;
      }
      h1 {
        font-size: 3.5rem;
      }
      strong {
        font-size: 8rem;
      }
    }
  }
}

footer {
  background-color: #e37600;
  padding: 1rem;
  text-align: center;

  strong {
    color: #fff;
    font-size: 2.5rem;
    text-shadow: 4px 6px #00376b;
  }
}

@media (width < 850px) {
  header {
    padding-block: 0.875rem;
  }
  #home {
    padding-block: 4rem;

    img {
      max-width: 250px;
    }

    .content {
      flex-direction: column;
      gap: 1.5rem;
    }

    .info {
      text-align: center;
      gap: 1rem;
      span {
        font-size: 1rem;
        letter-spacing: 1rem;
      }
      h1 {
        font-size: 2.5rem;
      }
      strong {
        font-size: 5rem;
      }
    }

    .social {
      padding-top: 0;
    }
  }

  #sobre {
    padding-block: 4rem;

    h2 {
      font-size: 2.5rem;
    }

    .sobre-content {
      font-size: 0.875rem;

      & > div {
        display: none;
      }
    }
  }

  #propostas {
    padding-block: 4rem;

    h2 {
      font-size: 2.5rem;
    }
  }
}
